body {
  margin:0;
  font-family: Arial;
  background:#111;
  color:white;
}

h1, .subtitle {
  text-align:center;
}

.topbar {
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  justify-content:center;
  margin:10px;
}

input, button {
  padding:8px;
  border:none;
  border-radius:6px;
}

button, .import-btn {
  background:#333;
  color:white;
  cursor:pointer;
}

.tier {
  display:flex;
  margin:10px;
  background:#222;
  border-radius:10px;
}

.tier span {
  width:70px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
}

.dropzone {
  flex:1;
  background: rgba(0,0,0,0.4);
  min-height:120px;

  display:flex;
  flex-wrap: nowrap;     /* 🔥 ek line me */
  gap:8px;
  padding:10px;

  align-items:center;
  overflow-x: auto;      /* 🔥 scroll left-right */
}
.card {
  width:70px;
  flex-shrink:0;   /* 🔥 shrink nahi hoga */
  cursor:grab;
}
.card img {
  width:100%;
  border-radius:8px;
}

.card div {
  font-size:10px;
  text-align:center;
}

.card.dragging {
  opacity:0.5;
}
